/**-----------------------------------------------------------------
  * Colours and fonts and general formats for the whole page
  -----------------------------------------------------------------*/

:root {
  --color-light-1: #f6f6f6;
  --color-light-2: #d6e4f0;
  --color-dark-1: #1e56a0;
  --color-dark-2: #163172;
  --color-dark-2-hover: #264182;
  --color-line: #17233a;
  --color-success: #42956f;
  --color-fail: #f44336;
  font-family: 'Kalam', Helvetica Neue,Helvetica,Arial,sans-serif;
}

body {
  background:  var(--color-light-2);
  color: var(--color-line);
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-light-1);
  text-decoration: none;
}

.styled-link {
  text-decoration: underline;
}

h1 {
  text-decoration: underline;
}

h2 {
  margin-bottom: 0;
}

h3 {
  color: var(--color-dark-1);
}

li {
  margin-bottom: 10px;
}

/**-----------------------------------------------------------------
  * Header and nav bar design
  -----------------------------------------------------------------*/

.menu-bar {
  display: flex;
  justify-content: space-between;
  background: var(--color-dark-1);
  white-space: nowrap;
  color: var(--color-light-1);
}

.menu-title-container {
  display: flex;
  font-size: 30px;
}

.menu-logo {
  width: 100px;
  align-self: center;
}

#home-link {
  display: inline-block;
  line-height: 0;
}

.menu-bar-title {
  margin-left: 10px;
  align-self: center;
}

.menu-button-container {
  display: flex;
}

.menu-button {
  width: 100px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  background: var(--color-dark-2);
  align-self: center;
  text-align: center;
}

.menu-button:hover {
  background: var(--color-dark-2-hover);
}

/**-----------------------------------------------------------------
  * Homepage large Logo and Title Display Design
  -----------------------------------------------------------------*/

.large-logo-title-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.large-logo {
  width: 500px;
  height: 300px;
  background: var(--color-light-1);
  position: relative;
  border-style: solid;
  border-color: var(--color-line);
  border-width: 2px;
  border-radius: 5px;
}

.word-finnish {
  position: absolute;
  top: 55px;
  left: 10px;
  color: var(--color-line);
  font-size: 45px;
  font-family: 'Permanent Marker', cursive;
  animation-name: finnish-anim;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes finnish-anim {
  0% {
    top: 55px;
    left: -1000px;
  }
  100% {
    top: 55px;
    left: 10px;
  }

}

.letter-l {
  position: absolute;
  top: 0px;
  left: 210px;
  z-index: 2;
  animation-name: l-anim;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes l-anim {
  0% {
    top: -600px;
    left: 210px;
    visibility: hidden;
  }
  33% {
    top: -600px;
    left: 210px;
    visibility: hidden;
  }
  100% {
    top: 0px;
    left: 210px;
    visibility: visible;
  }
}

.l-vertical {
  width: 80px;
  height: 170px;
  position: absolute;
  background: var(--color-dark-2);
  border-radius: 2px;
}

.l-horizontal {
  width: 290px;
  height: 60px;
  position: absolute;
  top: 110px;
  background: var(--color-dark-2);
  border-radius: 2px;
}

.word-learner {
  position: absolute;
  top: 55px;
  left: 85px;
  font-size: 45px;
  color: var(--color-dark-2);
  font-family: 'Permanent Marker', cursive;
}

.letter-t {
  position: absolute;
  top: 110px;
  animation-name: t-anim;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes t-anim {
  0% {
    top: 110px;
    left: -1000px;
    visibility: hidden;
  }
  50% {
    top: 110px;
    left: -1000px;
    visibility: hidden;
  }
  100% {
    top: 110px;
    left: 0px;
    visibility: visible;
  }
}

.t-vertical {
  width: 80px;
  height: 190px;
  position: absolute;
  left: 210px;
  background: var(--color-dark-1);
  border-radius: 2px;
}

.t-horizontal {
  width: 500px;
  height: 80px;
  position: absolute;
  background: var(--color-dark-1);
  border-radius: 2px;
}

.word-teacher {
  position: absolute;
  top: 135px;
  left: 295px;
  font-size: 45px;
  color: var(--color-dark-1);
  font-family: 'Permanent Marker', cursive;
}

.large-title {
  margin-top: 30px;
  font-size: 48px;
  color: var(--color-line);
}

/**-----------------------------------------------------------------
  * Homepage link display design
  -----------------------------------------------------------------*/

.links-display {
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
  justify-content: space-around;
  margin-bottom: 80px;
}

.link-container {
  display: flex;
  flex-direction: column;
  transition: all 250ms ease;
}

.link-container:hover {
  transform: scale(1.2);
}

.link-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.link-text {
  align-self: center;
  color: var(--color-line);
  font-size: 24px;
}

/**-----------------------------------------------------------------
  * Design for the info pages of the website
  -----------------------------------------------------------------*/

.info-page-layout {
  display: flex;
  justify-content: space-between;
}

.main-section {
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:  var(--color-light-1);
}

.section-heading {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  align-self: flex-start;
}

.section-text {
  margin-left: 50px;
  margin-right: 50px;
}

.section-text a {
  color: var(--color-dark-1);
}

ul.section-text {
  align-self: flex-start;
}

.section-example {
  position: relative;
  align-items: center;
}

.section-example div {
  margin-left: 70px;
  margin-right: 70px;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  border-color: var(--color-dark-1);
  font-size: 18px;
  padding: 10px;
}

.example-question {
  background-color: var(--color-light-1);
  font-weight: bold;
}

.example-answer {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  color: var(--color-light-1);
  background-color: var(--color-dark-1);
}

.example-question:hover + .example-answer {
  display: block;
}

.section-image {
  max-width: 400px;
  margin: 20px;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  border-color: var(--color-dark-1);
}

.subpage-link-container {
  margin: 50px;
  color: var(--color-line);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: var(--color-dark-1);
  transition: all 250ms ease;
  display: grid;
  grid-template-columns: 150px auto;
  grid-column-gap: 10px;
  grid-template-areas:
    "image title"
    "image description";
  align-items: center;
}

.subpage-link-container:hover {
  transform: scale(1.05);
}

.subpage-link-image {
  width: 150px;
  height: 100px;
  grid-area: image;
}

.subpage-link-title {
  grid-area: title;
  font-size: 25px;
  font-weight: bold;
}

.subpage-link-description {
  grid-area: description;
  padding-right: 10px;
}

.about-me-display {
  background: var(--color-dark-1);
  color: var(--color-light-1);
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-areas:
    "title text"
    "image text";
  align-items: center;
}

.about-me-title {
  grid-area: title;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
  align-self: flex-end;
}

.about-me-image {
  margin: 20px;
  max-width: 250px;
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: var(--color-light-1);
  grid-area: image;
  align-self: flex-start;
}

.about-me-text {
  grid-area: text;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer {
  background: var(--color-dark-1);
  color: var(--color-light-1);
  text-align: center;
  font-size: 10px;
  margin-bottom: 10px;
}

/**-----------------------------------------------------------------
  * Design for the resource pages of the website
  -----------------------------------------------------------------*/

.res-type-container {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: var(--color-line);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: var(--color-dark-1);
  background: var(--color-light-2);
  display: grid;
  grid-template-areas:
    "title title"
    "text image"
    "example example";
}

.res-type-title {
  grid-area: title;
  padding: 2px;
  padding-left: 10px;
  font-size: 24px;
  background: var(--color-dark-1);
  color: var(--color-light-1);
}

.res-type-text {
  margin: 20px;
  grid-area: text;
}

.res-type-img {
  width: 250px;
  margin: 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: var(--color-dark-1);
  grid-area: image;
}

.res-ex-display {
  margin: 20px;
  grid-area: example;
}

.res-ex-container {
  position: relative;
  margin-top: 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: var(--color-dark-1);
  background: var(--color-dark-1);
  display: grid;
  grid-template-rows: 40px auto;
  grid-template-areas:
    "image title rating"
    "image text level";
  transition: all 250ms ease;
}

.res-ex-container:hover {
transform: scale(1.05);
}

.res-ex-icon {
  grid-area: image;
  width: 200px;
  height: 150px;
  object-fit: cover;
  align-self: center;
}

.res-ex-title {
  grid-area: title;
  padding-left: 10px;
  font-size: 25px;
  color: var(--color-light-1);
}

.res-ex-rating {
  align-self: center;
  justify-self: center;
  height: 25px;
  grid-area: rating;
}

.res-ex-text {
  grid-area: text;
  padding: 10px;
  font-size: 12px;
  color: var(--color-line);
  background: var(--color-light-1);
}

.level-container {
  display: flex;
  grid-gap: 1px;
  flex-direction: column;
  grid-area: level;
  font-size: 12px;
}

.level-container div {
  flex-grow: 1;
  text-align: center;
  padding: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-light-1);
}

.level-green {
  background: var(--color-success);
}

.level-red {
  background: var(--color-fail);
}

.res-ex-price {
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  font-weight: bold;
  left: 0px;
  bottom: 0px;
  background: var(--color-success);
  opacity: 90%;
}

#price-paid {
  background: var(--color-fail);
}


/**-----------------------------------------------------------------
  * Media Queries to adjust layouts for different screen sizes
  -----------------------------------------------------------------*/

/* Tablet Mode: Min screen width for regular view is 1210px */
@media (max-width: 1210px) {

  .menu-bar {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
  }
  .menu-button {
    margin-top: 10px;
  }
  .large-title {
    font-size: 30px;
  }

}

/* Phone Mode: Min screen width for tablet mode view is 720px */
@media only screen and (max-width: 720px) {

  .menu-bar {
    flex-direction: column;
    align-items: center;
  }

  .menu-bar-title {
    display: none;
  }

  .menu-logo {
    width: 80vw;
    margin-top: 10px;
  }

  .menu-button-container {
    flex-direction: column;
    margin-bottom: 3vw;
    margin-top: 3vw;
  }

  .menu-button {
    width: 80vw;
    padding: 5px;
    margin-top: 2px;
    margin-right: 0px;
    border-radius: 5px;
    background: var(--color-dark-2);
    align-self: center;
    text-align: center;
  }

  .large-logo-title-display {
    margin-top: 10px;
  }

  .large-logo {
    display: none;
  }

  .large-title {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
  }

  .links-display {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }

  .link-container {
    margin-bottom: 30px;
  }

  .subpage-link-container {
    grid-column-gap: 0;
    grid-template-columns: 60vw;
    grid-template-areas:
      "image"
      "title"
      "description";
    align-items: center;
    justify-items: center;
  }

  .subpage-link-image {
    justify-content: center;
  }

  .subpage-link-description {
    padding: 10px;
  }

  .about-me-display {
    width: 100%;
    grid-template-areas:
      "title"
      "image"
      "text";
    align-items: center;
    justify-content: center;
  }

  .section-image {
    max-width: 80vw;
  }

}
